body {
  background-color: #F5F5F5;
}
.menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  }
  .principal {
    width: 1200px;
    margin: 0 auto;
  }

  .menu-flex {
    display: flex;
    align-items: center;
  }

  .menu-column {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
  }

  .menu-column.menu-second-column {
    justify-content: flex-end;
  }

  .menu-nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
  }

  .menu-nav ul li a {
    text-decoration: none;
    color: #585e65;
  }

  .menu-link-button {
    text-decoration: none;
    height: 48px;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }

  .products-wrapper {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F5F5F5;
}
.product {
    width: 24%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: white;
}

.product-button {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background-color: #4c6ef5;
    border: 1.5px solid #4c6ef5;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}

.product-image {
    align-self: center;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
}

